
<div class="simple-form" style="position:relative">
	<div class="content">
		<div class='center-title'> Add new artist</div>
		<label>Name</label><input ng-model="artist.name" type="text"></imput><br>
		<label>Description</label><input ng-model="artist.description" type="text"></imput><br>
		<label>Sex</label>  <br/>Man --- <input type="radio" ng-model="artist.sex" value="male">  
  							<br/>Female  <input type="radio" ng-model="artist.sex" value="female"> <br/>
	</div>
	<div class="buttons">
		<button type="button" class="btn-custom" ng-click="save(artist)">Add</button>
	</div>
	{{ master | json }}
	<div class="message-ok" ng-show="isSuccess">
		The user was created.
	</div>
	<div class="message-failed" ng-show="isFailed">
		The user could not be created
	</div>


	<div class="loading-mask" ng-show="loading">
  		  <div class="loading-img" ></div>
	</div>
</div>