
<div style="height:100%;position:relative;">
<div ng-show="songs.length<=0 && nav.middelTabSelected=='list'" > There are not songs </div>

<div ng-show="nav.middelTabSelected=='list'">
	<div class="center-title" >Songs: {{allSongs}}</div>
	<div ng-repeat=" song in songs" class="tile"  >
		<div> <span class="bold" >Title :</span> {{song.title}}</div>
		<div> <span class="bold">Description :</span> {{song.description}}</div>
		<div><span class="bold">Artist :</span> {{song.artist.name}}</div>
	</div>
</div>

<div class="loading-mask" ng-show="loadingAll">
		  <div class="loading-img" ></div>
</div>

<form-song-add ng-show="nav.middelTabSelected=='add'" ></form-song-add>
</div>